<h1 class="btn btn-info">
  <%= t('hello') %> <%= @name %>!
</h1>
<br><br><br><br>


<%= link_to "Listagem de usuários", users_path, class: 'btn btn-default' %>

<h4>
Conteúdo Central
</h4>

<%= debug params %>

<% if @name == "Daniel Marques2" %>

  <%= content_for :sidebar do %>
    Menu Lateral
  <% end %>

<% end %>
